fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose
passlib
bcrypt==4.0.1
python-dotenv
python-multipart
sentence-transformers
qdrant-client
langchain
langchain-community
pdfplumber
pypdf
pydantic
email-validator
chromadb